<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/public/css/style.css" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Account History</title>
</head>

<body>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {
                return;
            }
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.com/en_US/messenger.Extensions.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'Messenger'));
        window.extAsyncInit = () => {
            // TODO: How to parse env file from here?
            MessengerExtensions.getSupportedFeatures(function success(result) {
                let features = result.supported_features;
                if (features.includes("context")) {
                    MessengerExtensions.getContext('111755750225527',
                        function success(thread_context) {
                            // success
                            document.getElementById("psid").value = thread_context.psid;
                        },
                        function error(err) {
                            // error
                            console.log(err);
                        }
                    );
                }
            }, function error(err) {
                // error retrieving supported features
                console.log(err);
            });
            document.getElementById('submitButton').addEventListener('click', () => {
                MessengerExtensions.requestCloseBrowser(function success() {
                    console.log("Webview closing");
                }, function error(err) {
                    console.log(err);
                });
            });
        };
    </script>


    <ul class="history_list">
        <% for(var i=0; i<data.length;i++) {%>
        <li class="history_list_item">
            <div class="cost_info">
                <p class="amount">Amount: <%=data[i].amount%></p>
                <p class="date">Date:
                    <%=data[i].date.getDate() + "." + data[i].date.getMonth() + "." + data[i].date.getFullYear()%>
                </p>
                <p class="category">Category: <%=data[i].category%></p>
                <% if(data[i].description !== "skipped") {%>
                <p class="description">Description: <%=data[i].description%></p>
                <% }%>
            </div>

            <button class="btn">delete</button>
            <% }%>
        </li>
    </ul>
</body>

</html>