@import url("https://fonts.googleapis.com/css?family=Ubuntu&display=swap&subset=cyrillic");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

#form_search_date {
  display: block;
  text-align: center;
  border-bottom: 1px solid #bfdef7;
}

#date_selector {
  margin: 10px 0;
  background-color: transparent;
  outline: none;
  border: 1px solid #1c80d1;
  padding: 2px 10px;
  border-radius: 3px;
}

#date_selector_label {
  margin: 0;
}

.history_list {
  background-color: #eeecec;
  min-height: 100vh;
  width: 100%;
  padding: 1px 5px;
  list-style: none;
  display: block;
}

.history_list_item {
  display: block;
  border-radius: 10px;
  background-color: #fff;
  margin: 4px 0;
  padding: 5px 8px;
  width: 100%;
}

.item_header {
  display: flex;
  justify-content: space-between;
}

.date_category {
  width: 40%;
  padding-bottom: 3px;
}
.date {
  font-size: 0.9em;
}

.category {
  font-size: 0.8em;
  color: grey;
}
.amount {
  width: 40%;
  text-align: right;
  padding-top: 5px;
  font-weight: bold;
}

.amount.green {
  color: green;
}
.description {
  max-width: 100%;
  word-wrap: break-word;
}

/* Buttons*/

.btn_remove {
  display: block;
  height: max-content;
  border: none;
  margin-right: 4px;
  background-color: transparent;
  font-size: 1.3em;
  color: silver;
  transition: color 0.2s linear;
  outline: none;
  user-select: none;
  border-radius: 20px;
  -webkit-transition: color 0.2s linear;
  -moz-transition: color 0.2s linear;
  -ms-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
}

.btn_remove:hover {
  cursor: pointer;
  color: grey;
}

#btn_search {
  padding: 5px 10px;
  border: none;
  border-radius: 50px;
  background-color: #1f5cb6;
  color: #fff;
  cursor: pointer;
  outline: none;
  user-select: none;
  transition: background-color 0.2s linear;
}

#btn_search:hover {
  background-color: #3e86c9;
}
